<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Hudu_URL" value="https://#YOUR HOST#.huducloud.com/api/v1/" />
		<add key="Hudu_Token" value="#YOUR API KEY#" />

		<add key="Syncro_URL" value="https://#YOUR HOST#.syncromsp.com/api/v1/" />
		<add key="Syncro_Token" value="#YOUR API KEY#" />
	</appSettings>
</configuration>
